p {
  font-size: 70% !important;
}

.transition {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 600ms ease-in;
  transition: width 600ms ease-in;
}
.transition:hover {
  width: 300px;
}

.animation {
  position: relative;
  -webkit-animation: animacao 4000ms infinite; /* Safari 4.0 - 8.0 */
  animation: animacao 4000ms infinite;
}

@-webkit-keyframes animacao {
  0% {left: 0px;}
  50% {
    left: 200px;
    /*-webkit-transform: scale(1); /* Safari */*/
    /*transform: scale(1);*/
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  100% {
    left: 200px;
    /*-webkit-transform: scale(1.2); /* Safari */*/
    /*transform: scale(1.2);*/
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

@keyframes animacao {
  0% {left: 0px;}
  50% {
    left: 200px;
    /*-webkit-transform: scale(1); /* Safari */*/
    /*transform: scale(1);*/
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    left: 200px;
    /*-webkit-transform: scale(1.2); /* Safari */*/
    /*transform: scale(1.2);*/
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
