body {
  background: #f7f7f7;
}

img {
  margin: 5% auto 0;
  display: flex;
}

form {
  margin: 15% auto 0;
  width: 50%;
}

form label {
  display: block;
  margin-bottom: 15px;
}

form input {
  display: block;
  margin-bottom: 35px;
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 2px solid #A0A0A0;
  outline: none;
}

form input:focus {
  border-color: #58b6c5;
}

form button {
  display: block;
  float: right;
  border: 1px solid #1eb1de;
  border-radius: 3px;
  background: #73d0ec;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

form button:hover {
  background: #49c0e4;
}

form button:active {
  background: #1eb1de;
}
