.absolute {
  width: 200px;
  height: 200px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body .flex {
  width: 200px;
  height: 200px;
  background-color: black;
}
