body {
  background: #eee;
}

/* body p {
  color: red;
} */

p {
  color: blue;
}

a {
  color: black;
}

ul li a {
  color: red;
}

/* Seletores */

body h4 {
  color: red;
}

body > h4 {
  font-size: 50px;
}

ul li a + span {
  display: block;
  font-size: 30px;
}

body #texto {
  color: pink;
}

body .texto {
  color: black;
}

/* body p.texto {
  color: #404040;
} */

div[data-teste] {
  background-color: red;
}

div[data-teste="green"] {
  background-color: green;
}

a:hover {
  color: green;
}